footer {
  padding-top: 150px;
  padding-bottom: 30px;
  position: relative;
  z-index: 1;

  .row {
    justify-content: space-between;
  }

  [class*="col-md"] {
    @media (max-width: 991px) {
      margin-bottom: 50px;

      &.col-md-3 {
        width: 50%;
      }
    }

    @media (max-width: 767px) {
      width: 100%;

      &.col-md-3 {
        width: 100%;
      }
    }
  }

  .footer-bottom {
    [class*="col-md"] {
      @media (max-width: 767px) {
        margin-bottom: 0;
      }
    }

    @media (max-width: 767px) {
      padding: 0 !important;

      span.mb-3 {
        margin-bottom: 4px !important;
      }
    }

    div,
    ul {
      text-align: center;
      // justify-content: center !important;
      margin-top: 0 !important;
    }
  }

  hr {
    border-color: $white;
    margin-top: 100px;

    @media (max-width: 767px) {
      margin-top: 44px;
    }
  }

  .footer-logo {
    font-size: 26px;
    line-height: 28px;
    font-family: $font;
    color: $white;
    display: block;
    margin-bottom: 20px;
    transition: 0.3s all !important;
    font-weight: 600;
    height: 80px;

    img {
      height: 100%;
      object-fit: contain;
      object-position: left;
    }

    @media (max-width: 991px) {
      font-size: 20px;
      line-height: 22px;
      max-width: 160px;

      span {
        font-size: 20px !important;
      }
    }

    span {
      // color: $primary;
      font-size: 26px;
      font-weight: 200;
      display: block;
    }
  }

  .footer-text {
    color: $white;
    opacity: 0.86;
  }

  @media (max-width: 767px) {
    padding-top: 40px;
  }

  svg {
    path {
      transition: 0.3s;
      &:hover {
        fill: rgb(146, 171, 163);
      }
    }
  }

  p {
    font-size: 16px !important;

    font-weight: 200;

    @media (max-width: 1199px) {
      line-height: 28px;
    }

    @media (max-width: 991px) {
      font-size: 16px !important;
      line-height: 27px;
    }

    @media (max-width: 767px) {
      font-size: 16px !important;
      line-height: 26px;
      max-width: 100%;
    }
  }

  .image {
    max-width: 300px;

    @media (max-width: 1199px) {
      max-width: 220px;
    }
  }

  @media (min-width: 768px) and (max-width: 991px) {
    .col-md-2 {
      width: 30%;
    }
  }

  .footer-bottom {
    color: $white;
    opacity: 0.86;
    font-weight: 200;

    @media (max-width: 767px) {
      flex-direction: column;

      .nav {
        margin-top: 15px;
      }
    }
  }

  h5 {
    color: $white;
    font-size: 18px;

    font-weight: 600;
    margin-bottom: 22px;
  }

  li {
    a {
      font-size: 16px !important;
      color: $white !important;
      opacity: 0.86;
      font-weight: 200 !important;
      font-family: $font;
      transition: 0.3s all;

      &:hover {
        opacity: 0.6;
      }

      //   RESPONSIVE
      @media (max-width: 1199px) {
        font-size: 17px !important;
        line-height: 35px;
      }

      @media (max-width: 991px) {
        font-size: 16px !important;
        line-height: 35px;
      }
    }
  }
}

.newsletter-form {
  label {
    color: $white;
    font-size: 16px;
    font-weight: 200;
    opacity: 0.86;
  }
  input {
    width: 100%;
    padding: 13px 22px;
    margin: 14px 0px;
    border-radius: 10px;
    border: none;
    background: #0e0e0e;
    border-radius: 100px;
    color: rgba(255, 255, 255, 0.54);

    &::placeholder {
      color: rgba(255, 255, 255, 0.54);
    }
  }
  .custom-button {
    border: none;
    width: 100%;
  }
}
