/*---## Hero Slider ##---*/
.hero-slider {
  padding: 0;
  position: relative;

  @media (min-width: 676px) {
    height: calc(100vh + 20px);
  }

  &::after {
    content: "";
    display: block;
    height: 230px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -60px;
    z-index: 1;
    background-image: url("../images/banner-bottom.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;

    @media (max-width: 675px) {
      height: 130px;
    }
  }

  .slider {
    position: relative;
    height: 100%;

    .slick-list,
    .slick-track {
      height: 100%;
    }

    .slick-arrow {
      position: absolute;
      z-index: 1;
      top: 0;
      bottom: 0;
      margin: auto;
      background: none;
      border: none;
      background-size: contain;
      background-repeat: no-repeat;
      width: 25px;
      height: 49px;
      padding: 0px 20px;
      font-size: 0px;
      background-image: url('data:image/svg+xml,<svg width="31" height="59" viewBox="0 0 31 59" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M25.6491 29.5003L1.23465 54.5904C1.03364 54.7926 0.874728 55.0326 0.767105 55.2967C0.659481 55.5607 0.605284 55.8434 0.607651 56.1285C0.61002 56.4136 0.668907 56.6954 0.780901 56.9576C0.892897 57.2198 1.05577 57.4572 1.26011 57.656C1.46446 57.8548 1.7062 58.0112 1.97135 58.1159C2.23651 58.2207 2.51982 58.2719 2.80487 58.2665C3.08993 58.261 3.37108 58.1991 3.63206 58.0843C3.89303 57.9695 4.12865 57.8041 4.32527 57.5976L30.2003 31.0039C30.5919 30.6013 30.811 30.0619 30.811 29.5003C30.811 28.9386 30.5919 28.3992 30.2003 27.9966L4.32528 1.40288C4.12865 1.19642 3.89304 1.03101 3.63206 0.916208C3.37109 0.801404 3.08994 0.7395 2.80488 0.734075C2.51982 0.728647 2.23651 0.779802 1.97136 0.884588C1.7062 0.989374 1.46446 1.1457 1.26012 1.34453C1.05578 1.54336 0.892902 1.78074 0.780906 2.04293C0.668912 2.30512 0.610025 2.58692 0.607656 2.87202C0.605289 3.15712 0.659486 3.43986 0.76711 3.70387C0.874732 3.96789 1.03364 4.20794 1.23465 4.41014L25.6491 29.5003Z" fill="white"/></svg>');

      @media (max-width: 767px) {
        // width: 30px;
        // height: 30px;
        display: none !important;
      }

      &.slick-prev {
        transform: rotate(180deg);
        left: 0;
      }

      &.slick-next {
        right: 0;
      }
    }

    .slick-dots {
      display: flex;
      column-gap: 10px;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 30px;
      margin: 0 auto;
      z-index: 3;
      width: fit-content;

      li {
        button {
          font-size: 0;
          height: 10.5px;
          width: 10.5px;
          padding: 0;
          border: none;
          background: #d9d9d9;
          border-radius: 100px;
          opacity: 0.11;
        }

        &.slick-active {
          button {
            opacity: 1;
          }
        }
      }
    }

    .slide {
      position: relative;

      height: 100%;
      display: flex;
      align-items: start;
      padding: 150px 0px 50px;

      @media (min-width: 676px) {
        min-height: 100vh;
      }

      @media (max-width: 675px) {
        min-height: 50vh;
        padding: 120px 0px 50px;
      }

      // @media (max-width: 767px) {
      //   text-align: center;
      // }

      // &::after {
      //   content: "";
      //   display: block;
      //   position: absolute;
      //   height: 100%;
      //   width: 100%;
      //   left: 0;
      //   top: 0;
      //   z-index: 0;
      //   background: linear-gradient(
      //       180deg,
      //       #100919 5%,
      //       rgba(16, 9, 25, 0.83) 30%,
      //       rgba(16, 9, 25, 0.51) 43.5%,
      //       rgba(16, 9, 25, 0) 60%,
      //       rgba(16, 9, 25, 0) 81.5%,
      //       rgba(16, 9, 25, 0.82) 89.5%,
      //       #100919 98.1%
      //     ),
      //     linear-gradient(
      //       270deg,
      //       rgba(16, 9, 25, 0.15) 1.12%,
      //       rgba(16, 9, 25, 0.65) 76.27%
      //     );
      // }

      .row {
        position: relative;
        z-index: 3;

        .button-wrapper {
          display: flex;
          position: relative;
          z-index: 3;

          // @media (max-width: 767px) {
          //   justify-content: center;
          // }
        }
      }

      .slide-bg {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -1;

        img,
        video {
          height: 100%;
          width: 100%;
          object-fit: cover;
          object-position: center;
        }

        @media (max-width: 767px) {
          &.right {
            img,
            video {
              object-position: right;
            }
          }

          &.left {
            img,
            video {
              object-position: right;
            }
          }
        }
      }
    }
  }
}

/*---## PARTNERS SECTION ##---*/
.partners-logo {
  text-align: center;

  .section-heading {
    h3 {
      color: #737373;
      font-size: 25px;
      font-weight: 700;
    }
  }

  .marquee-content {
    li img {
      height: 25px;
      object-fit: contain;
      object-position: center;
    }
  }
}

/*---## ABOUT SECTION ##---*/
.about-section {
  .row {
    &.background {
      padding: 70px;
      margin-bottom: 40px;
      justify-content: space-between;
      // background: linear-gradient(111.27deg, #0b0a0a 8.33%, #060606 68.94%);
      border: 1px solid transparent;

      // border-image-source: linear-gradient(
      //   228.94deg,
      //   rgba(255, 255, 255, 0.08) 52.22%,
      //   rgba(255, 255, 255, 0.3) 97.56%
      // );
      border-radius: 50px;

      // background: linear-gradient(111.27deg, #0b0a0a 8.33%, #060606 68.94%)
      //     padding-box,
      //   conic-gradient(
      //       from 90deg,
      //       rgba(255, 255, 255, 0.05) 0deg,
      //       rgba(255, 255, 255, 0.25) 180deg,
      //       rgba(255, 255, 255, 0.25) 180deg,
      //       rgba(255, 255, 255, 0.05) 360deg
      //     )
      //     border-box;
      background: linear-gradient(111.27deg, #080808, #080808) padding-box,
        conic-gradient(
            from 90deg,
            rgba(255, 255, 255, 0.05) 0deg,
            rgba(255, 255, 255, 0.25) 180deg,
            rgba(255, 255, 255, 0.25) 180deg,
            rgba(255, 255, 255, 0.05) 360deg
          )
          border-box;

      @media (max-width: 991px) {
        padding: 50px 30px;

        [class*="col-md"] {
          padding: 0;
        }
      }
    }

    &.boxes {
      align-items: normal;
      gap: 40px;

      [class*="col-"] {
        padding: 0;
        width: calc((100% / 3) - 27px);

        @media (max-width: 991px) {
          width: calc((100% / 2) - 20px);
        }

        @media (max-width: 767px) {
          width: 100%;
        }
      }
    }
  }
}

/*---## VIDEO SECTION ##---*/
.video-section {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;

  &::after,
  &::before {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(
      90deg,
      #000000 47.79%,
      rgba(0, 0, 0, 0.4) 66.49%
    );
  }
  &::before {
    background: linear-gradient(
        180deg,
        #000000 5%,
        rgba(0, 0, 0, 0.73) 24%,
        rgba(0, 0, 0, 0) 52%,
        rgba(0, 0, 0, 0.82) 81%,
        #000000 98.24%
      ),
      linear-gradient(
        270deg,
        rgba(0, 0, 0, 0.15) 1.12%,
        rgba(0, 0, 0, 0.65) 76.27%
      );
    z-index: 1;
  }

  &::after {
    @media (max-width: 575px) {
      display: none;
    }
  }

  .content {
    position: relative;
    z-index: 4;
  }

  .row {
    justify-content: space-between;
  }

  .row,
  .container {
    position: initial;
  }
  .video-wrapContainer {
    .video-bg {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;

      img {
        height: 100%;
        object-fit: cover;
        object-position: center right;
      }

      @media (max-width: 575px) {
        position: relative;
        margin-top: 50px;
      }
    }
  }
  .video-button-wrapper {
    position: relative;

    .video-playBtn {
      position: absolute;
      z-index: 10;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      box-sizing: content-box;
      display: block;
      width: 32px;
      height: 44px;
      border: none;
      /* background: #eb2055; */
      border-radius: 50%;
      padding: 18px 20px 18px 28px;

      @media (max-width: 575px) {
        position: absolute;
        bottom: auto;
        top: 22vw !important;
        left: 0;
        right: 0;
        margin: auto;
        top: auto;
        transform: none;
      }

      &::before {
        content: "";
        position: absolute;
        z-index: 0;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        display: block;
        width: 85px;
        height: 85px;
        background: $white;
        border-radius: 50%;
        animation: pulse-border 1100ms ease-out infinite;

        @media (max-width: 575px) {
          width: 65px;
          height: 65px;
        }
      }

      &::after {
        content: "";
        position: absolute;
        z-index: 1;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        display: block;
        width: 90px;
        height: 90px;
        background: $white;
        border-radius: 50%;
        transition: all 200ms;

        @media (max-width: 575px) {
          width: 70px;
          height: 70px;
        }
      }

      span {
        display: block;
        position: relative;
        z-index: 3;
        width: 0;
        height: 0;
        border-left: 19px solid $primary;
        border-top: 12px solid transparent;
        border-bottom: 12px solid transparent;
        transform: scale(1.4);
        top: 3px;
        left: 7px;
      }
    }

    @keyframes pulse-border {
      0% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
        opacity: 1;
      }
      100% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
        opacity: 0;
      }
    }
  }
}

/*---## SOLUTION SECTION ##---*/
.solutions-section {
  .section-heading {
    text-align: center;
  }

  .row {
    align-items: normal;
    margin-top: 40px;

    .section-heading {
      text-align: left;
    }

    .image {
      @media (min-width: 768px) {
        height: 250px;
      }
      img {
        height: 100%;
        object-fit: cover;
      }
    }
  }
  [class*="col-"] {
    margin-bottom: 30px;

    @media (max-width: 991px) {
      width: 50%;
    }
    @media (max-width: 767px) {
      width: 80%;
      margin-left: auto;
      margin-right: auto;
    }

    @media (max-width: 675px) {
      width: 100%;
    }
  }
}

/*---## TRUSTED LEADERS SECTION ##---*/
.trusted-leaders-section {
  .row {
    margin-top: 50px;
  }
  .marquee {
    opacity: 1;
    height: auto;
    margin-bottom: 20px;

    &:last-child {
      animation-delay: 2s;
    }

    .marquee-content {
      column-gap: 20px;
      li .image {
        border: 1px solid #ffffff4d;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 75px;
        height: 75px;
        width: 100%;
        border-radius: 22px;

        img {
          height: 50px;
          width: 80px;
          object-fit: contain;
          object-position: center;
        }
      }
    }
  }
}
