body {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

a,
button {
  text-decoration: none;
  cursor: pointer;
}

button,
select,
input {
  &:focus {
    outline: none;
    box-shadow: none;
  }
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
