/*---# Colors #---*/
$primary: #9e53ec;
$secondary: #6444f6;

$gradientColor1: #8c21f8;

/* General Colors */
$white: #ffffff;
$black: #000000;
$dark: #100919;

/*---# Fonts #---*/
$font: "Manrope", sans-serif;
